* {
  margin: 0;
  padding: 0;
}

/*Front Page*/

header {
  width: 100%;
  height: 100vh;
  display: flex;
}
.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 23%;
  background-color: #041230;
  position: fixed;
  height: 100%;
}
.logo {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 200px;
  width: 100%;
  cursor: pointer;
}
.logo:hover {
  background-color: #2c3e50;
}

.logo h3 {
  color: white;
  margin: auto auto;
  font-size: 20px;
  text-transform: uppercase;
}

.menu {
  margin-top: 100px;
}
.menu a {
  display: block;
  text-align: center;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.menu a:hover {
  color: #d35400;
  transition: 0.5s;
}
.menu a:first-child {
  color: chocolate;
}

.right-side {
  margin-left: 23%;
  text-align: center;
  width: 77%;
}

.right-side img {
  max-width: 400px;
  height: auto;
  border-radius: 44% 56% 77% 23% / 29% 43% 57% 71%;
  background-color: #eac2ad;
  margin-top: 5px;
}
.right-side h3 {
  font-size: 30px;
}
.right-side h2 {
  font-size: 40px;
  color: #041230;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
}
span {
  color: #d35400;
}
.right-side .btn1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  padding: 12px 35px;
  cursor: pointer;
  border-radius: 7px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  color: white;
  background-color: #041230;
  border: 2px solid transparent;
}
.right-side .btn1:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
  transition: 0.5s;
}
.right-side .btn2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  padding: 12px 35px;
  cursor: pointer;
  border-radius: 7px;
  display: inline-block;
  margin-top: 30px;
  color: black;
  background-color: white;
  border: 2px solid black;
}
.right-side .btn2:hover {
  color: white;
  background-color: #041230;
  border: 2px solid transparent;
  transition: 0.5s;
}

/*Front Page End*/

/*About Start*/
.about {
  margin-left: 28%;
  margin-right: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}
.about hr {
  width: 80px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}
.main-about {
  display: flex;
}
.left-about {
  width: 50%;
}
.right-about {
  width: 50%;
}
.left-about img {
  width: 400px;
  height: auto;
}
.main-about p {
  text-align: justify;
  font-weight: 50;
}
/*About End*/

/*Service Start*/
.service {
  margin-left: 26%;
  margin-right: 3%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.service h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}
.service hr {
  width: 80px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}
.main-service {
  display: flex;
}
.sec {
  width: 33%;
  height: 300px;
  padding: 10px;
  margin: 5px;
  box-shadow: 10px 20px 20px rgb(73, 68, 68);
  border-left: 4px solid;
  border-radius: 7px;
  border-image: linear-gradient(#041230, rgb(9, 28, 199));
  border-image-slice: 1;
  background-image: linear-gradient(#dfe6e9, #ecf0f1);
  cursor: pointer;
}

.sec h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sec p {
  text-align: justify;
  line-height: 1.6;
}
/*Service End*/

/*Contact Start*/

.contact {
  margin-left: 32%;
  margin-right: 3%;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 60%;
  justify-content: center;
}
.contact h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}
.contact hr {
  width: 80px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #041230;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #17326d;
  transition: 0.5s;
}

footer p {
  margin-left: 23%;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #041230;
}
